/*estilos generales*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-size: 16px;
}

a {
	text-decoration: none;
}
/*fin de estilos generales*/

/*Contenedor de imagen para carrousel*/
.img-container {
	position: relative;
	background-image: url("../images/img-1.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: left;
	;
	width: 100%;
	height: 120vh;
}

/*seccionando en filas y columnas usando flex-box*/
.img-container .row {
	position: absolute;
	width: 100%;
	display: flex;
	flex-direction: row;
	margin-top: 40px;
	background: #f2f2f2f0;
	padding: 20px;
	color: white;
}

.col {
	width: 50%;
	margin: auto;
}
/*fin de filas y columnas*/

/*Accediendo a los li menu de navegacion*/
.img-container nav li {
	display: inline-block;
	margin-right: 20px;
}

/*agregando border para logo*/
.logo a {
	color: #000;
	border-bottom: 2px solid #000;
	font-weight: 700;
}

/*agregando border para menu de navegacion*/
.col .nav-menu-1 {
	margin-bottom: 10px;
	border-bottom: 1px solid #000;
}


.container-big-picture {
	position: absolute;
	width: 40%;
	background: #f2f2f2;
	top: 200px;
}

/*Inicio de productos*/
.container-o {
	position: absolute;
	display: flex;
	flex-direction: row;
	max-width: 800px;
	width: 90%;
	background: #f2f2f2;
	left: 0;
	right: 0;
	bottom: 50px;
	margin: auto;
}

.container-o .col {
	width: 25%;
	padding: 40px 10px;
}


/* Zona 2 */

.container {
	position: absolute;
	max-width: 800px;
	width: 90%;
	background: #f2f2f2;
	left: 0;
	right: 0;
	bottom: -500px;
	margin: auto;
}

.container .row-1.product-1,
.container .row-1.product-2 {
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
}

.container .row-1.product-1 .col-1.texto {
	width: 45%;
	color: black;
	overflow: hidden;

}
.container .row-1.product-1 .col-1.img-1{
	width: 20%;
	color: black;
	overflow: hidden;
}
.container .row-1.product-1 .col-1.banner-2{
	width: 35%;
	color: black;
	overflow: hidden;
}

.container .row-1.product-2 .col-2 {
	width: 21%;
	color: black;
	overflow: hidden;
	margin: 0% 2%;
	border: 1px solid #e2dada;
}

.col-1.banner-2{
	background: #e80000d9;
}

.col-1.banner-2 .offer-description{
	text-align: center;
	color: #fff;
	margin:25% 5px;
	border: 1px solid #fff;
}

.text-btn{
	text-align: center;
	background: #e2dada;
	padding-top: 10px;
	margin:0px 2px;
}
.text-btn span,
.text-btn a {
	display: block;
	margin-top: 7px;
}

.boton{
	background: #ab0202;
	padding: 5px 0px;
	color: #fff;
	width: 80%;
	margin: auto;
}

/*Inicio imagenes de productos:*/
.container .row-1.product-1 img,
.container .row-1.product-2 img{
	max-width: 100%;
	
}



/* .row.product.shop col {
    margin-top: 20px;
    width: 25%;
    } */


/* Fin */